{% extends "base.html" %}
{% load static %}

<!-- Initially used Boutique Ado's HTML to allow me to test it worked, have since adapted it for my own project -->
{% block content %}
    <div class="overlay"></div>
    <div class="col-6 mt-3 mx-auto text-center">
        <!-- The order form required for checkout, holds card details in different field set -->
        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            {% if not request.user.is_authenticated %}
                <fieldset>
                    <legend>Your Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.user_trainer_code | as_crispy_field }}
                </fieldset>
            {% endif %}
            {% if not user_subscribed %}
                <fieldset>
                        <legend>Payment Information</legend>
                        <div id="card-element"></div>
                        <div id="card-error-message"></div>
                        <h6>Note: requests cost £4.99 per checkout so please add all your pokemon first!</h6>
                </fieldset>
            {% endif %}
            <div class="mt-4">
                <!-- Button to finish the order -->
                <button id='submit-button' class='btn btn-outline-light'>
                    <span>Finish</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

<!-- Link to script for checkout -->
{% block postloadjs %}
    {% if client_secret is not == None %}
        {{ stripe_public_key | json_script:"id_stripe_public_key"}}
        {{ client_secret | json_script:"id_client_secret"}}
        <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
    {% endif %}
{% endblock %}