{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid col-6 mt-3">
        {% if not user.subscribed %}
                        <h3>SUCCESS</h3>
        {% endif %}
        {% if not user.is_authenticated %}
            <!-- If anomynous -->

        {% else %}

            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend>Your Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.user_trainer_code | as_crispy_field }}
                </fieldset>
                <fieldset>
                    
                    <legend>Payment Information</legend>
                    <div id="card-element"></div>
                    <div id="card-error-message"></div>
                </fieldset>
                <div class="mt-4">
                    <!-- Buttons -->
                    <button id='submit-button' class='btn btn-outline-light'>
                        <span>Finish</span>
                    </button>
                    
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    {{ stripe_public_key | json_script:"id_stripe_public_key"}}
    {{ client_secret | json_script:"id_client_secret"}}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}