{% extends "base.html" %}
{% load static %}

<!-- Initially used Boutique Ado's HTML to allow me to test it worked, have since adapted it for my own project -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You</h2>
                <hr>
                <!-- Lets the User know what key details they submitted -->
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                <p class="text-black">The owner of the pokemon will also be sent an email with your trainer ID: <strong>{{ order.user_trainer_code }}</strong>.</p>
                <p class="text-black">*Please note that I ran out of time to add this functionality, however the website can send emails as shown by the allauth system*</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7 m-auto">
                <div class="p-2 border">
                    <!-- Holds key values of the order -->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Total Requests:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Request Id</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Request Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Request Details:</small>
                        </div>
                    </div>

                    <!-- Holds info about each item in the order -->
                    <div class="row">
                        {% for item in order.lineitems.all %}
                    
                        <div class="col-12 col-md-3 col-sm-6">
                            <p class="small mb-0 font-weight-bold">Name: {{ item.product.name }}</p>
                            <p class="small mb-0 font-weight-bold">Pokedex No: {{ item.product.pdex_no }}</p>
                            <p class="small mb-0 font-weight-bold">
                                Type: {{ item.product.type1 }} {% ifnotequal 19 item.product.type2.pk %} and {{ item.product.type2 }} {% endifnotequal %}
                            </p>
                            <p class="small mb-0 font-weight-bold">Owner: {{ item.product.owner_profile }}</p>
                            <br>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Holds user details -->
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Your Details:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Full Name: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Your Trainer Code: </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}