{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="col-6 mt-3 mx-0 text-center">
        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <fieldset>
                <legend>Your Details</legend>
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
                {{ order_form.user_trainer_code | as_crispy_field }}
            </fieldset>
            <fieldset>
                    <legend>Payment Information</legend>
                    <div id="card-element"></div>
                    <div id="card-error-message"></div>
                    <label class="form-check-label" for="donate-check">Donate £4.99 to support us!</label>
                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="donate-check" name="donation" checked>
            </fieldset>
            <div class="mt-4">
                <!-- Buttons -->
                <button id='submit-button' class='btn btn-outline-light'>
                    <span>Finish</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ stripe_public_key | json_script:"id_stripe_public_key"}}
    {{ client_secret | json_script:"id_client_secret"}}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}