{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Temporarily used my milestone 3 card creation project as a layout due to similar stat system -->
    <!-- Have since edited it heavily to better suit my project, uses some of the same css class names but with the css for it changed -->
    <div class="row m-0 pb-3">
        <div class="col-lg-6 text-center">
            <div class = "card-container text-center">
                <!-- Sets the image of the pokemon -->
                <div class="card-image-container text-center">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}{{ product.pdex_no }}.png" onerror="this.src='{{ MEDIA_URL }}no_image.png';" alt="{{ product.name }}"> <!-- Displays the cards image using a url-->
                </div> 
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center m-auto">
            <div class="mb-5 mt-md-5 text-center">
                <!-- Displays the name and level of the pokemon -->
                <h4 class="mb-0">{{ product.name }} Lvl: {{ product.level }}</h4>
                <div class = "row text-center py-3">
                    <ul class="list-inline list-unstyled text-center m-auto">
                        <!-- Displays the first type of the pokemon -->
                        {% ifnotequal 19 product.type1.pk %}
                            <li class="list-inline-item p-0 m-0">
                                <img class="img-fluid" src="{{ MEDIA_URL }}type{{ product.type1 }}button.png" alt="The pokemons first type: {{ product.type1 }}">
                            </li>
                        {% endifnotequal %}
                        <!-- Displays the second type of the pokemon -->
                        {% ifnotequal 19 product.type2.pk %}
                            <li class="list-inline-item p-0 m-0">
                                <img class="img-fluid" src="{{ MEDIA_URL }}type{{ product.type2 }}button.png" alt="The pokemons second type: {{ product.type2 }}">
                            </li>
                        {% endifnotequal %}
                    </ul>
                </div>
                <div class="card-stats-container row">
                    <div class="col s5">
                        <p>Max Health: {{product.hp}}</p>  <!-- Displays the Hp stat-->
                    </div>
                </div>
                <div class="card-stats-container row">
                    <div class="col s5">
                        <p>Attack: {{product.attack}}</p>  <!-- Displays the Attack stat-->
                    </div>
                </div>
                <div class="card-stats-container row">
                    <div class="col s5">
                        <p>Defence: {{product.defense}}</p>  <!-- Displays the Defence stat-->
                    </div>
                </div>
                <div class="card-stats-container row">
                    <div class="col s5">
                        <p>Special Attack: {{product.sp_attack}}</p>   <!-- Displays the Special Attack stat-->
                    </div>
                </div>
                <div class="card-stats-container row">
                    <div class="col s5">
                        <p>Special Defence: {{product.sp_defense}}</p>  <!-- Displays the Special Defense stat-->
                    </div>
                </div>
                <div class="card-stats-container row">
                    <div class="col s5">
                        <p>Speed: {{product.speed}}</p>   <!-- Displays the Speed stat-->
                    </div>
                </div>
                <!-- If the user is a superuser gives them the option to edit/delete products -->
                {% if request.user.is_superuser %}
                    <small class="ml-3 my-3">
                        <a class="btn btn-outline-light" href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="text-danger btn btn-outline-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
                <!-- Same add to bag logic as boutique ado -->
                {% if not_in_bag %}
                    <form action ="{% url 'add_to_bag' product.id %}" method ='POST'>
                        {% csrf_token %}
                        <div class="row my-3">
                            <div class="col">
                                <input class="btn btn-outline-light rounded-0 btn-lg" type="submit" value="Add to Bag">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                    </form>
                <!-- If the pokemon is added to the bag, gives the users the ability to navigate elsewhere for convienience -->
                {% else %}
                    <div class="row text-center mb-2"><p class="lead m-auto">Product is added to your bag.</p></div>
                    <div class="row my-3">
                        <div class="col">
                            <!-- Takes the user back to the pokemon -->
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg btn-light">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <!-- Takes the user to the bag -->
                            <a href="{% url 'bag' %}" class="btn btn-outline-light rounded-0 btn-lg">
                                <span class="icon">
                                    <i class="fas fa-shopping-bag"></i>
                                </span>
                                <span class="text-uppercase">Go to Bag</span>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}