{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 py-2 text-dark">
                            <div class="card h-100">
                                <a href="{% url 'product_detail' product.id %}" class="bg-secondary">
                                    <img class=" img-fluid" src="{{ MEDIA_URL }}{{ product.pdex_no }}.png" onerror="this.src='{{ MEDIA_URL }}no_image.png';" alt="{{ product.name }}">
                                    
                                </a>
                                <div class="card-body p-0">
                                    <div class = "row my-2 text-center">
                                        <h4 class="mb-0 col">{{ product.name }} Lvl: {{ product.level }}</h4>
                                    </div>
                                    <div class = "row text-center py-2">
                                        <ul class="list-inline list-unstyled text-center m-auto">
                                            <li class="list-inline-item p-0 m-0">
                                              <a href="{% url 'products' %}?category={{ product.type1.pk }}">
                                                <img class="img-fluid" src="{{ MEDIA_URL }}type{{ product.type1 }}button.png" alt="The pokemons first type: {{ product.type1 }}" width="100%" height="auto">
                                              </a>
                                            </li>
                                            {% ifnotequal 19 product.type2.pk %}
                                            <li class="list-inline-item p-0 m-0">
                                                <a href="{% url 'products' %}?category={{ product.type2.pk }}">
                                                    <img class="img-fluid" src="{{ MEDIA_URL }}type{{ product.type2 }}button.png" alt="The pokemons second type: {{ product.type2 }}" width="100%" height="auto">
                                                </a>
                                            </li>
                                            {% endifnotequal %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-footer bg-white pt-1 border-0 text-center product-info-display">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-center font-weight-bold">Owner: {{ product.owner_profile }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}