/* -- Controlls padding between nav and content -- */
div.nav-offset{
    padding-top:180px;
    background-color: hsla(218, 8%, 19%, 0.416);
    color:#ffffff;
    min-height: 92vh;
}

@media(max-width:995px) { 
    div.nav-offset{
        padding-top:240px;
    }
}

/* -- General Stylings -- */
/* Sets background colour for body if background image fails to load */
body{
    background-color: #1d2128;
}

#topnav,#botnav{
    background-color: #2d3035;
    color:rgb(116, 116, 116);
}

footer {
    border-top: 2px solid rgba(0, 0, 0, 0.6);;
    padding-top: 2.25rem;
    bottom:0;
    height:5vh;
}

.content-holder{
    background-color: #1d2128da !important;
    color:#ffffff !important;
}

.topbuffer{
    padding-top:20px;
}

/* Helps size the searchbar on large screens */
input.searchbar{
    max-width:200px;
    display:inline-block;
}

.collapse-adjust{
    width:100%;
}

/* Adds background image to website */
.hero-container {
    background: url("/media/bytesizebackground.png");
    background-repeat: repeat;
    padding: 0;
}

/* -- Link Decoration -- */
/* Removes blue underline from links */
a.link-remover{
    color:#b3b3b3 !important;
    text-decoration:none;
}

/* Removes underline when links are hovered over */
a.link-remover:hover {
    color:#ffffff !important;
}

/* Changes cursor to help point out something is clickable */
.clickable {
    cursor:pointer; 
}

/*-- CSS for product display in bag template --*/
tr{
    background-color: #2d3035;
    width:100%;
    height:100%;
    color:white;
}

/* -- Classes used to display pokemon data -- */
.card-container{
    border-radius: 3px;
    border: solid rgb(0, 0, 0) 5px;
    display:inline-block;
    width:70%;
}

.card-image{
    height:100%;
    overflow: hidden;
}

.card-body{
    background-color: rgb(209, 209, 209);
}

.card-image-container{
    width:100%;
    height:40%;
    background-color: rgb(209, 209, 209);
    display:flex;
    justify-content: center;
}

.card-stats-container{
    height:20px;
    margin:0;
    margin-bottom:10px;
}

/*-- Styling for page buttons --*/
a.page-style{
    margin:0;
    margin-bottom: 10px;
}

/* Alternates colour between page buttons for better effect */
.page-style-odd{
    border: solid rgb(252, 252, 252) 1px;
    background-color: #2b2b2b;
}

.page-style-even{
    border: solid rgb(196, 196, 196) 1px;
    background-color: #303030;
}

/*-- CSS for message display --*/
/* Ensures messages don't have bullet points */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Sets background colour for message depending on message type */
.success-message{
    background-color: rgba(13, 83, 45, 0.486);
}

.error-message{
    background-color: rgba(83, 13, 13, 0.486);
}

.default-message{
    background-color: rgba(78, 78, 78, 0.486);
}