.nav-offset{
    padding-top:120px;
}

#topnav{
    background-color: #2d3035;
}

body{
    background-image: url("../../media/bytesizebackground.png");
    background-repeat: repeat;
    background-color: #1d2128;
    background-attachment: fixed;
}

a.link-remover{
    color:#b3b3b3 !important;
    text-decoration:none;
}

a.link-remover:hover {
    color:#ffffff !important;
}

.clickable {
    cursor:pointer; 
}

.topbuffer{
    padding-top:20px;
}

.searchbar{
    max-width: 500px;
}

/* CSS for drop down filter buttons */

.cat_1{
    background-image: url("../../media/typenormalbutton.png");
}

.cat_2{
    background-image: url("../../media/typefirebutton.png");
}

.cat_3{
    background-image: url("../../media/typewaterbutton.png");
}

.cat_4{
    background-image: url("../../media/typegrassbutton.png");
}

.cat_5{
    background-image: url("../../media/typeelectricbutton.png");
}

.cat_6{
    background-image: url("../../media/typeicebutton.png");
}

.cat_7{
    background-image: url("../../media/typefightingbutton.png");
}

.cat_8{
    background-image: url("../../media/typepoisonbutton.png");
}

.cat_9{
    background-image: url("../../media/typegroundbutton.png");
}

.cat_10{
    background-image: url("../../media/typeflyingbutton.png");
}

.cat_11{
    background-image: url("../../media/typepsychicbutton.png");
}

.cat_12{
    background-image: url("../../media/typebugbutton.png");
}

.cat_13{
    background-image: url("../../media/typerockbutton.png");
}

.cat_14{
    background-image: url("../../media/typeghostbutton.png");
}

.cat_15{
    background-image: url("../../media/typedarkbutton.png");
}

.cat_16{
    background-image: url("../../media/typedragonbutton.png");
}

.cat_17{
    background-image: url("../../media/typesteelbutton.png");
}

.cat_18{
    background-image: url("../../media/typefairybutton.png");
}

.button_link{
    width:100%;
    height:100%;
    display:inline-block;
    border-radius:15px;
}

.button_box{
    background-repeat: no-repeat;
    display:inline-block;
    width:104px;
    height:39px;
}

.collapse_test{
    display:inline-block;
    width:100%;
}