{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block css %}
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}

    <title>ByteSized Trades {% block subtitle %} {% endblock %}</title>
  </head>
  <body>
      <header id="topnav" class="container-fluid fixed-top topbuffer pb-2">
        <div class="row pt-lg-2 d-lg-flex">
              <div class="col-12 col-lg-4 text-center text-lg-left">
                <a href="{% url 'home' %}" class="link-remover clickable">
                  <h2 class="logo-font link-remover">Bytesized Trades</h2>
                </a>
              </div>
              <div class="col-12 col-lg-4 text-center mx-auto">
                <form method="GET" action="{% url 'products' %}">
                  <div class="input-group">
                      <input class="form-control border border-black rounded-5" type="text" name="q" placeholder="Browse by Name">
                      <div class="input-group-append text-center">
                        <button class="form-control btn btn-black border border-black rounded-5" type="submit">
                          <span class="icon text-white">
                            <i class="fas fa-search"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                </form>
              </div>
              <div class="col-12 col-lg-4 text-lg-right">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                  <li class="list-inline-item dropdown nav-size-extender">
                      <a class="text-black nav-link link-remover" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="text-center">
                              <div><i class="fas fa-user fa-lg"></i></div>
                              <p class="my-0">My Account</p>
                          </div>
                      </a>
                      <div class="dropdown-menu border-0" aria-labelledby="user-options">
                          {% if request.user.is_authenticated %}
                              {% if request.user.is_superuser %}
                                  <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                              {% endif %}
                              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                          {% else %}
                              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                          {% endif %}
                      </div>
                  </li>
                  <li class="list-inline-item">
                    <a href="{% url 'bag' %}" class="link-remover clickable">
                      <div class="text-center">
                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                        <p class="my-0">
                          {% if product_count %}
                          Items: {{ product_count }}
                          {% else %}
                          Empty
                          {% endif %}
                        </p>
                      </div>
                    </a>
                  </li>
              </ul>
            </div>
        </div>
        <!--Expanding div code courtesy of Bootstrap library https://getbootstrap.com/docs/4.0/components/collapse/-->
        <div class="row text-center">
          <div class="col">
            <a class="btn btn-outline-secondary" data-toggle="collapse" href="#collapseTypes" role="button" aria-expanded="false" aria-controls="collapseExample">
              Filter by Type
            </a>
          </div>
        </div>
        <div class="collapse" id="collapseTypes">
          <ul class="list-inline list-unstyled text-center mt-3">
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=1">
                <img class="img-fluid" src="{{ MEDIA_URL }}typenormalbutton.png" alt="Filter by normal types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=2">
                <img class="img-fluid" src="{{ MEDIA_URL }}typefirebutton.png" alt="Filter by fire types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=3">
                <img class="img-fluid" src="{{ MEDIA_URL }}typewaterbutton.png" alt="Filter by water types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=4">
                <img class="img-fluid" src="{{ MEDIA_URL }}typegrassbutton.png" alt="Filter by grass types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=5">
                <img class="img-fluid" src="{{ MEDIA_URL }}typeelectricbutton.png" alt="Filter by electric types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=6">
                <img class="img-fluid" src="{{ MEDIA_URL }}typeicebutton.png" alt="Filter by ice types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=7">
                <img class="img-fluid" src="{{ MEDIA_URL }}typefightingbutton.png" alt="Filter by fighting types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=8">
                <img class="img-fluid" src="{{ MEDIA_URL }}typepoisonbutton.png" alt="Filter by poison types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=9">
                <img class="img-fluid" src="{{ MEDIA_URL }}typegroundbutton.png" alt="Filter by ground types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=10">
                <img class="img-fluid" src="{{ MEDIA_URL }}typeflyingbutton.png" alt="Filter by flying types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=11">
                <img class="img-fluid" src="{{ MEDIA_URL }}typepsychicbutton.png" alt="Filter by psychic types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=12">
                <img class="img-fluid" src="{{ MEDIA_URL }}typebugbutton.png" alt="Filter by bug types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=13">
                <img class="img-fluid" src="{{ MEDIA_URL }}typerockbutton.png" alt="Filter by rock types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=14">
                <img class="img-fluid" src="{{ MEDIA_URL }}typeghostbutton.png" alt="Filter by ghost types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=15">
                <img class="img-fluid" src="{{ MEDIA_URL }}typedarkbutton.png" alt="Filter by dark types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=16">
                <img class="img-fluid" src="{{ MEDIA_URL }}typedragonbutton.png" alt="Filter by dragon types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=17">
                <img class="img-fluid" src="{{ MEDIA_URL }}typesteelbutton.png" alt="Filter by steel types">
              </a>
            </li>
            <li class="list-inline-item mt-3">
              <a href="{% url 'products' %}?category=18">
                <img class="img-fluid" src="{{ MEDIA_URL }}typefairybutton.png" alt="Filter by fairy types">
              </a>
            </li>
          </ul>
        </div>
    </header>

    <div class = "nav-offset container-fluid text-center">
      {% block content %}
      {% endblock %}
    </div>

    <footer id = "botnav" class="text-center pb-5 pt-2">
      <h5>Website made by <i class="fas fa-copyright"></i>Edward Stanley</h5>
    </footer>

    {% block postloadjs %}
    {% endblock %}

  </body>
    
</html>
