{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block css %}
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block scripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}

    <title>ByteSized Goods {% block subtitle %} {% endblock %}</title>
  </head>
  <body>
      <header id="topnav" class="container-fluid fixed-top topbuffer">
        <div class="row pt-lg-2 d-lg-flex">
              <div class="col-12 col-lg-4 text-lg-left">
                <a href="{% url 'home' %}" class="link-remover clickable">
                  <h2 class="logo-font link-remover">Bytesized Goods</h2>
                </a>
              </div>
              <div class="col-12 col-lg-4 searchbar">
                <form method="GET" action="{% url 'products' %}">
                  <div class="input-group w-100">
                      <input class="form-control border border-black rounded-5" type="text" name="q" placeholder="Browse by Name">
                      <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-5" type="submit">
                          <span class="icon text-white">
                            <i class="fas fa-search"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                </form>
              </div>
              <div class="col-12 col-lg-4 text-lg-right">
                <a href="{% url 'bag' %}" class="link-remover clickable">
                  <h3 class="logo-font">
                    {% if product_count %}
                      Items: {{ product_count }}
                    {% endif %}
                    <span class="icon"><i class="fas fa-shopping-bag"></i></span>
                  </h3>
                </a>
              </div>
        </div>
        <!--Expanding div code courtesy of Bootstrap library https://getbootstrap.com/docs/4.0/components/collapse/-->
        <div class="row">
          <div class="col">
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Filter by Type
            </a>
          </div>
        </div>
        <div class="collapse" id="collapseExample">
          <div class="card card-body collapse_test">
            <div class="cat_1 button_box">
              <a href="{% url 'products' %}?category=1" class="button_link"></a>
            </div>
            <div class="cat_2 button_box">
              <a href="{% url 'products' %}?category=2" class="button_link"></a>
            </div>
            <div class="cat_3 button_box">
              <a href="{% url 'products' %}?category=3" class="button_link"></a>
            </div>
            <div class="cat_4 button_box">
              <a href="{% url 'products' %}?category=4" class="button_link"></a>
            </div>
            <div class="cat_5 button_box">
              <a href="{% url 'products' %}?category=5" class="button_link"></a>
            </div>
            <div class="cat_6 button_box">
              <a href="{% url 'products' %}?category=6" class="button_link"></a>
            </div>
            <div class="cat_7 button_box">
              <a href="{% url 'products' %}?category=7" class="button_link"></a>
            </div>
            <div class="cat_8 button_box">
              <a href="{% url 'products' %}?category=8" class="button_link"></a>
            </div>
            <div class="cat_9 button_box">
              <a href="{% url 'products' %}?category=9" class="button_link"></a>
            </div>
            <div class="cat_10 button_box">
              <a href="{% url 'products' %}?category=10" class="button_link"></a>
            </div>
            <div class="cat_11 button_box">
              <a href="{% url 'products' %}?category=11" class="button_link"></a>
            </div>
            <div class="cat_12 button_box">
              <a href="{% url 'products' %}?category=12" class="button_link"></a>
            </div>
            <div class="cat_13 button_box">
              <a href="{% url 'products' %}?category=13" class="button_link"></a>
            </div>
            <div class="cat_14 button_box">
              <a href="{% url 'products' %}?category=14" class="button_link"></a>
            </div>
            <div class="cat_15 button_box">
              <a href="{% url 'products' %}?category=15" class="button_link"></a>
            </div>
            <div class="cat_16 button_box">
              <a href="{% url 'products' %}?category=16" class="button_link"></a>
            </div>
            <div class="cat_17 button_box">
              <a href="{% url 'products' %}?category=17" class="button_link"></a>
            </div>
            <div class="cat_18 button_box">
              <a href="{% url 'products' %}?category=18" class="button_link"></a>
            </div>
          </div>
        </div>
    </header>
    <div class = "nav-offset">
      {% block content %}
      {% endblock %}
    </div>

    {% block postloadjs %}
    {% endblock %}

  </body>
    
</html>
